@use '../../scss/mixins' as m;
@use '../../scss/variables' as v;
@use '../../scss/extends';

.container {
  flex: 1;
}

.profile {
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-items: start;
  align-items: center;

  @media screen and (max-width: 880px) {
    grid-template: repeat(3, auto) / 1fr;
    justify-items: center;
  }
}

.avatar {
  object-fit: cover;
  object-position: center;
  width: 120px;
  height: 120px;
  clip-path: circle(50% at 50% 50%);
}

.add_place__button {
  margin-top: 41px;
  justify-self: end;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid v.$white;
  border-radius: 2px;
  @include m.svg-button('../../images/add.svg', 22px);
  @include m.hover;

  @media screen and (max-width: 880px) {
    justify-self: auto;
    width: 282px;
  }

  @media screen and (max-width: 440px) {
    background-size: 16px;
    margin-top: 32px;
  }
}

.edit_avatar {
  padding: 0;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 40px;
  background-color: transparent;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
    left: 0;
    top: 0;
    @include m.svg-button('../../images/edit.svg', 26px, v.$black-08);
  }

  &:hover::after {
    opacity: 1;
    cursor: pointer;
  }
}

.edit_info__button {
  grid-area: edit;
  margin-left: 20px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid v.$white;
  @include m.svg-button('../../images/edit.svg', 10px);

  @include m.hover;

  @media screen and (max-width: 880px) {
    position: absolute;
    top: 12px;
    right: -40px;
  }

  @media screen and (max-width: 440px) {
    background-size: 8px;
    width: 18px;
    height: 18px;
    top: 7px;
    right: -28px;
  }
}

.user_data {
  margin: 43px 33px 0 30px;
  display: grid;
  grid-template-areas:
    'name edit'
    'info info';
  align-items: baseline;
  max-width: 570px;

  @media screen and (max-width: 880px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 19px;
    margin-right: 19px;
  }

  @media screen and (max-width: 440px) {
    margin-top: 27px;
    max-width: 282px;
  }
}

.info {
  max-width: 515px;
  margin: 7px 0 0;
  font-size: 18px;
  line-height: 1.22;
  grid-area: info;
  @extend %hide-text;

  @media screen and (max-width: 880px) {
    max-width: 290px;
    text-align: center;
  }

  @media screen and (max-width: 440px) {
    max-width: 208px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 7px;
  }
}

.name {
  max-width: 515px;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: name;
  @extend %hide-text;

  @media screen and (max-width: 880px) {
    font-size: 36px;
    max-width: 290px;
    text-align: center;
  }

  @media screen and (max-width: 440px) {
    font-size: 27px;
    line-height: 1.22;
    max-width: 208px;
  }
}

.cards_container {
  margin: 52px auto 67px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;

  @media screen and (max-width: 880px) {
    margin: 36px 19px 48px;
    justify-content: center;
  }
}
