@use '../../scss/mixins' as m;

.form {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 34px 0 48px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;

  @media screen and (max-width: 590px) {
    font-size: 18px;
    margin: 26px 0 75px;
  }

  &_confirm {
    margin-bottom: 14px;

    @media screen and (max-width: 590px) {
      margin-bottom: 35px;
    }
  }
}

.submit_button {
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 1.22;
  height: 50px;
  margin-top: 18px;
  border-radius: 2px;

  @include m.hover(0.8);

  @media screen and (max-width: 590px) {
    font-size: 14px;
    margin-top: 14px;
  }

  &_disabled {
    background-color: unset;
    color: #000;
    opacity: 0.2;

    &:hover {
      cursor: default;
      opacity: 0.2;
    }
  }
}
