@use './extends.scss';
@use './variables.scss' as v;

@mixin hover($opasity: 0.6) {
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      opacity: $opasity;
    }
  }
}

@mixin flex-center($center: false) {
  @extend %flex-column;
  @if $center {
    align-items: center;
  }
}

@mixin input($color: v.$white, $placeholder) {
  color: $color;
  &:-webkit-autofill {
    -webkit-text-fill-color: $color;
    caret-color: $color;
  }

  &::placeholder {
    color: $placeholder;
    @content;
  }
}

@mixin card-button($url) {
  background-image: url($url);
  @extend %card-button;
}

@mixin svg-button($url, $size, $color: v.$black) {
  background: {
    color: $color;
    image: url($url);
    size: $size;
  }
  @extend %svg-button;
}

@mixin desktop {
  @media screen and (max-width: v.$breakpoint-desktop) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: v.$breakpoint-laptop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: v.$breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: v.$breakpoint-mobile) {
    @content;
  }
}

@mixin font($size, $height, $weight: false) {
  font-size: $size;
  line-height: $height;
  @if $weight {
    font-weight: $weight;
  }
}

@mixin font-face($weight, $url) {
  @font-face {
    font: {
      family: 'Inter';
      style: normal;
      display: swap;
      weight: $weight;
    }
    src: url('#{$url}2') format('woff2'), url($url) format('woff');
  }
}
