@use '../../scss/mixins' as m;
@use '../../scss/variables' as v;

.background {
  background-color: v.$black;
}

.root {
  max-width: v.$breakpoint-laptop;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  color: v.$white;
  font-family: v.$main-font;

  @include m.flex-center;
}
