$white: #fff;
$black: #000;
$black-02: rgba($black, 0.2);
$black-05: rgba($black, 0.5);
$black-08: rgba($black, 0.8);
$black-09: rgba($black, 0.9);
$gray: #545454;
$light-gray: #a9a9a9;
$login-gray: #ccc;
$placeholder-popup: #c4c4c4;
$red-error: #f00;
$red-error-08: rgba($red-error, 0.8);
