@use '../../scss/variables.scss' as v;

.text {
  margin: 0 auto 60px;
  color: v.$gray;
  font-size: 18px;
  line-height: 1.22;

  @media screen and (max-width: 880px) {
    margin: 0 19px 36px;
    font-size: 14px;
  }
}
