@use '../../scss/variables' as v;
@use '../../scss/mixins' as m;

.image {
  width: 120px;
  height: 120px;
  margin-top: 60px;

  @include m.tablet {
    margin-top: 50px;
  }
}

.message {
  margin: 32px 0 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  color: v.$black;

  @include m.tablet {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.2;
  }
}
