@use '../../scss/mixins.scss' as m;
@use '../../scss/variables.scss' as v;

.in-popup {
  padding: 0 0 9px;
  border-bottom: 1px solid v.$black-02;

  @include m.input(v.$black, v.$placeholder-popup);

  &_error {
    border-bottom: 1px solid v.$red-error;

    &_message {
      color: v.$red-error;
      min-height: 30px;
      @include m.font(12px, 1.2);
    }
  }
}

.in-login {
  font-weight: 500;
  border-bottom: 2px solid v.$login-gray;
  padding: 7px 0;

  @include m.input(v.$white, v.$login-gray) {
    font-weight: 400;
  }

  &_error_message {
    color: v.$red-error-08;
    padding-top: 4px;
    min-height: 20px;
    @include m.font(12px, 1.2);
  }
}
