@use '../../scss/variables' as v;
@use '../../scss/mixins' as m;
@use '../../scss/extends';
@use '../../scss/animations';

.container {
  box-sizing: border-box;
  min-height: 119px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %gray-line;

  @media screen and (max-width: 880px) {
    min-height: 84px;
  }
}

.logo {
  margin-top: 5px;

  @media screen and (max-width: 934px) {
    margin-left: calc((934px - 100vw) / 2);
  }

  @media screen and (max-width: 880px) {
    object-fit: cover;
    margin-top: 0;
    margin-left: 27px;
    max-width: 32.4%;
  }
}

.menu {
  display: none;
  margin: 1px 33px 0 0;

  & span:nth-of-type(1) {
    animation: span1 0.75s forwards;
    top: 0;
  }

  & span:nth-of-type(2) {
    transition: all 0.25s 0.25s;
    opacity: 1;
    top: 9px;
  }

  & span:nth-of-type(3) {
    animation: span3 0.75s forwards;
    bottom: 0;
  }

  @include m.hover;

  @media screen and (max-width: 590px) {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 21px;
    background: none;
    border: none;
    appearance: none;
  }

  & span {
    @media screen and (max-width: 590px) {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: v.$white;
    }
  }
}

.active {
  & span:nth-of-type(1) {
    animation: span1-active 0.75s forwards;
  }

  & span:nth-of-type(2) {
    opacity: 0;
  }

  & span:nth-of-type(3) {
    animation: span3-active 0.75s forwards;
  }
}
